<div class="container">
  <h2> Ajouter Étudiant</h2>

  <form (ngSubmit)="ajouterEtud()" class="form-professeur">
    <div class="form-grid">
      <div class="form-group">
        <label for="nom">Nom</label>
        <div class="input-group">
          <span><i class="fas fa-user"></i></span>
          <input type="text" id="nom" class="form-control" [(ngModel)]="etud.registerRequest.firstname" name="nom" required placeholder="Entrez le nom">
        </div>
      </div>

      <div class="form-group">
        <label for="prenom">Prénom</label>
        <div class="input-group">
          <span><i class="fas fa-user"></i></span>
          <input type="text" id="prenom" class="form-control" [(ngModel)]="etud.registerRequest.lastname" name="prenom" required placeholder="Entrez le prénom">
        </div>
      </div>

      <div class="form-group">
        <label for="cin">CIN</label>
        <div class="input-group">
          <span><i class="fas fa-id-card"></i></span>
          <input type="text" id="cin" class="form-control" [(ngModel)]="etud.student.cin" name="cin" required placeholder="Entrez le CIN">
        </div>
      </div>

      <div class="form-group">
        <label for="cne">Code Apogée</label>
        <div class="input-group">
          <span><i class="fas fa-id-card"></i></span>
          <input type="text" id="cne" class="form-control" [(ngModel)]="etud.student.codeAppogie" name="cne" required placeholder="Entrez le Code Apogée">
        </div>
      </div>

      <div class="form-group">
        <label for="dateNaissance">Date de Naissance</label>
        <div class="input-group">
          <span><i class="fas fa-calendar"></i></span>
          <input type="date" id="dateNaissance" class="form-control" [(ngModel)]="etud.student.dateNaissance" name="dateNaissance" required>
        </div>
      </div>

      <div class="form-group">
        <label for="dateInscription">Date Inscription</label>
        <div class="input-group">
          <span><i class="fas fa-calendar"></i></span>
          <input type="date" id="dateInscription" class="form-control" [(ngModel)]="etud.student.dateInscription" name="dateInscription" required>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <span><i class="fas fa-envelope"></i></span>
          <input type="email" id="email" class="form-control" [(ngModel)]="etud.registerRequest.email" name="email" required placeholder="Entrez l'email">
        </div>
      </div>

      <div class="form-group">
        <label for="niveau">Niveau</label>
        <div class="input-group">
          <span><i class="fas fa-envelope"></i></span>
          <select id="niveau" class="form-control" [(ngModel)]="etud.student.niveau" name="niveau" required>
            <option value="API11">API11</option>
          <option value="API12">API12</option>
          <option value="API21">API21</option>
          <option value="API22">API22</option>
          <option value="CI11">CI11</option>
          <option value="CI12">CI12</option>
          <option value="CI21">CI21</option>
          <option value="CI22">CI22</option>
          <option value="CI31">CI31</option>
          <option value="CI32">CI32</option>
        </select>
            </div>
      </div>

    </div>

    <button type="submit" class="btn">Ajouter Étudiant</button>
  </form>

</div>
