<div class="container mt-4">
  <h2 class="text-center">Liste des Professeurs</h2>

  <button routerLink="/admin/ajoutProf" class="btn btn-primary mb-3" style="font-size: larger;" (click)="ajouterProf()">Ajouter Professeur</button>

  <!-- Barre de recherche -->
  <div class="search-container mt-5">
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Rechercher par email"
      [(ngModel)]="searchTerm"
      (input)="filteredProfesseurs()"
    >
  </div>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>CIN</th> 
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prof of filteredProfesseurs()">
        <td>{{ prof.cin }}</td>
        <td>{{ prof.user.firstname }}</td>
        <td>{{ prof.user.lastname }}</td>
        <td>{{ prof.user.email }}</td>
        <td>
          <div style="display: flex; gap: 10px;">
            <button *ngIf="prof?.id" class="btn btn-info" [routerLink]="['/admin/detailsProf', prof.id]">Voir Détails</button>
            <button *ngIf="prof?.id" class="btn btn-warning" [routerLink]="['/admin/modifierProf', prof.id]">Modifier</button>
            <button *ngIf="prof?.id" class="btn btn-danger" (click)="supprimerProf(prof.id)">Supprimer</button>
          </div>
        </td>


      </tr>
    </tbody>
  </table>
</div>
