
<section class="form">
  <div class="card login-form reset-password-container" style="max-width: 400px; margin: auto; padding: 20px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <div class="card-body">
      <h4 class="card-title" style="text-align: center; margin-bottom: 20px;">Réinitialiser le mot de passe</h4>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="reset-password-form">
        <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" formControlName="email" type="email" class="form-control form-control-sm" placeholder="Entrez votre email">
        </div>
        <div class="form-group">
          <label for="currentPassword">Mot de passe actuel:</label>
          <input id="currentPassword" formControlName="currentPassword" type="password" class="form-control form-control-sm" placeholder="Mot de passe actuel">
        </div>
        <div class="form-group">
          <label for="newPassword">Nouveau mot de passe:</label>
          <input id="newPassword" formControlName="newPassword" type="password" class="form-control form-control-sm" placeholder="Nouveau mot de passe">
        </div>
        <button type="submit" class="btn btn-primary btn-block submit-btn" style="background-color: #007BFF; border: none; padding: 10px; font-size: 16px;">Réinitialiser le mot de passe</button>
      </form>
    </div>
  </div>

</section>


