
.form{
  margin-top: 2em;
  margin-bottom: 2em;
}
.form-control {
  height: 4em; /* Ajustement de la hauteur */
  padding: 8px 12px; /* Ajustement de la marge interne pour un meilleur confort visuel */
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 1em; /* Ajustement de la taille de police pour améliorer la lisibilité */
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.btn-primary {
  height: 40px; /* Assurer que le bouton est de la même hauteur que les champs de saisie */
  padding: 8px 20px; /* Ajustement de la marge interne pour le bouton */
  font-size: 16px; /* Taille de la police pour le bouton */
  background-color: #007BFF;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.reset-password-container {
  background-color: #ffffff;
  border-radius: 8px;

}

@media (max-width: 576px) {
  .reset-password-container {
    padding: 15px;
  }
}
